:root { 
  --black: #000000;
  --bombay: #b4b4be;
  --gravel: #44444f;
  --mirage: #171625;
  --nevada: #696974;
  --seashell: #f1f1f5;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 20px;
  --font-size-xs: 10px;
 
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.poppins-medium-nevada-10px {
  color: var(--nevada);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.roboto-normal-bombay-16px {
  color: var(--bombay);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-gravel-14px {
  color: var(--gravel);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-gravel-14px {
  color: var(--gravel);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
